In [8]:
# imports
import pandas as pd

In [9]:
# load the training data
#df = pd.read_csv("/kaggle/input/forest-fire-prediction-epoch-hackathon/wildfire_sizes_before_2010.csv")
df = pd.read_csv("data/wildfire_sizes_before_2010.csv")

# print a few datapoints
df.head()

  STATE    month  total_fire_size
0    AK  1992-04             10.1
1    AK  1992-05           4309.5
2    AK  1992-06          86460.6
3    AK  1992-07          48578.5
4    AK  1992-08           3321.8

In [10]:
# get the predictions for 2010
last_year = df[df['month'].str[:4] == '2010']

last_year.head()

    STATE    month  total_fire_size
148    AK  2010-03             0.50
149    AK  2010-04          1558.97
150    AK  2010-05        608126.40
151    AK  2010-06        316987.85
152    AK  2010-07        206614.55

In [11]:
# duplicate the 2010 predictions for 2011 through 2015
dfs = []
for year in range(2011, 2016):
    new_df = last_year.copy()
    new_df['month'] = new_df['month'].str.replace('2010', str(year))
    dfs.append(new_df)
submission = pd.concat(dfs)


# add ID column that kaggle wants (order does not matter though, items are match by (STATE, month) pair)
submission['ID'] = range(len(submission))

# order columns
submission = submission[['ID', 'STATE', 'month', 'total_fire_size']]
submission.to_csv('submission.csv', index=False)

submission.head()

     ID STATE    month  total_fire_size
148   0    AK  2011-03             0.50
149   1    AK  2011-04          1558.97
150   2    AK  2011-05        608126.40
151   3    AK  2011-06        316987.85
152   4    AK  2011-07        206614.55